<!DOCTYPE html>
<html>
  <head>
    <!--bootstrap-->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  </head>
  <!--body element를 angularjs 앱으로 선언 -->
  <body ng-app='app'>
    <div ng-controller='PostsCtrl' class="container">
      <h1>Recent Posts</h1>
      <form role='form'>
        <div class='form-group'>
          <div class="input-group">
            <!--ng-model 지시자는 input element를 $scope에 연결-->
            <input ng-model='postBody' class='form-control' />
            <span class='input-group-btn'>
              <!-- addPost 함수를 호출하여 $scope에 이벤트 실행 -->
              <button ng-click='addPost()' class='btn btn-defalut'>Add Post</button>
            </span>
          </div>
        </div>
      <ul class='list-group'>
        <!-- ng-repeat 지시자는 $scope의 배열을 반복해서 불러옴 -->
        <li ng-repeat='post in posts' class='list-group-item'>
          <strong>@{{post.username}}</strong>
          <span>{{post.body}}</span>
        </li>
      </ul>
    </div>
    <!-- angularjs 호출 -->
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js'></script>
    <script>
    //첫번째 인수는 모듈 이름, 두번째 인수 배열은 이 모듈에 의존하는 모듈의 배열
      var app=angular.module('app',[])
      //컨트롤러의 인스턴스를 만들기 위해 사용될 함수
      app.controller('PostsCtrl',function($scope){
        $scope.addPost=function(){
          //input할 내용이 있다면
          if($scope.postBody){
            //unshiftsms posts배열의 맨 앞에 data를 추가함
            $scope.posts.unshift({
              username:'dickeyxxx',
              body:$scope.postBody
            })
            //inputbox 초기화
            $scope.postBody=null
          }
        }
        // $scope 명의 배열 선언
        $scope.posts=[
          {
            username:'dickeyxxx',
            body:'Node rules!'
          },
          {
            username:'jeffdickey',
            body:'trying out angular.js...'
          }
        ]
      })
    </script>
  </body>
</html>
